*, *::before, *::after {
    box-sizing: inherit;
}
body{
    background-color: white;
    line-height: 1.5;
    margin: 0px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;

}
a{
    text-decoration: none;
    color: black;
}
.flex-container{
    display: flex;
    position: fixed;
    background-color:white;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    top: 0px;
    text-transform: uppercase;
    margin-bottom: 100px;
    z-index: 1;
}
.flex-container > div {
margin: 10px;
padding: 20px;
}
.nav{
    word-spacing: 50px;
    font-size: 20px;
}
.nav a:hover{
 color:  rgba(246, 46, 113, .8);
}
.brand{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    font-size: 30px;
}
.img{
    width: 100%;
    height: 1000PX;
    background-attachment: fixed;
}
.gred{
    margin: 106px;
    position:fixed;
    top: 0px;
    bottom: 0px;
    right: 108px;
    left: -108px;
    width: 100%;
    height: 884px;
    background-attachment: fixed;
    background-image: -webkit-linear-gradient(bottom, rgba(246, 46, 113, .8) 0%, rgba(249, 171, 114, .8) 100%);
}
.overgred{
    position: relative;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: "Poppins", sans-serif;
}
.btns{
    color: black;
    background-color: white;
    border-radius: 55px;
    padding: 14px 28px 14px 28px;
    text-transform: uppercase;
    font-size: 14px;
}
.container2{
    position: relative;
    background-color: white;
    text-align: center;
    padding: 50px;
    font-size: 30px;
}
.container2>p{
    color: grey;
}
.flex-container2{
    display: flex;
    background-color: white;
}
.container3{
    position: relative;
    display: flex;
    background-color: white;
    justify-content:space-around;
    padding: 50px;
    
}

.container4{
    position: relative;
    display: flex;
}
.stext{
    background-color: black;
    color:  rgba(246, 46, 113, .8);   
}
.btn2{
    border: 2px solid white;
    color: white;
    border-radius: 25px;
    padding: 20px;
}